.article-container {
    border-style:inset;
    border-color: darkblue;
    background-color: rgb(77, 71, 123);
    border-radius: 0.625rem;
    margin-top: 0.625rem;
    padding: 0 .625rem .625rem .625rem;
}