.footer {
    position: fixed;
    bottom: 0.625rem;
    width: 100%;
    padding: .625rem 0 .625rem 0;
    background-color: adjust-hue($color: #2c295f, $degrees: 0);

    &__span {
        display: flex;
        justify-content: space-around;
        font-size: smaller;
        width: 90%
    }
}